.contenedor-reservacion {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto auto auto);
}

.galeria {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.informacion-ticket {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 5px;
}

.informacion-ticket .numero-ticket {
  position: relative;
  width: 40%;
  display: flex;
}

.informacion-ticket .numero-ticket h1 {
  position: absolute;
  top: 48%;
  left: 28%;
  font-size: 40px;
}

.numero-ticket-lista {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 95px;
}

.numero-ticket-lista h5 {
  position: absolute;
  top: 36%;
  left: 18%;
  font-weight: bold;
}

.informacion-ticket .detalle-ticket {
  background-color: var(--uni-background);
  width: 100%;
}

.nuevo-ticket {
  position: relative;
  width: 35%;
  margin: 0 auto;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: all 500ms ease;
}

.nuevo-ticket i {
  position: absolute;
  font-size: 50px;
  top: 53%;
}

.nuevo-ticket:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
}

.contenedor-reservacion h2 {
  grid-column: span 2;
  margin: 55px auto;
  font-size: 50px;
  font-weight: bold;
}

.historial-enLinea-ticket {
  width: 100%;
  grid-column: span 2;
  grid-row: 3;
}

.p-galleria .p-galleria-thumbnail-container {
  border: dashed 2px var(--primary-uni);
  background-color: transparent !important;
  border-radius: 15px;
}

.p-galleria-thumbnail-items-container {
  border-left: solid 1px var(--primary-uni);
  border-right: solid 1px var(--primary-uni);
}