.contenedor-tramites {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.seleccionar-tramite {
  width: 100%;
  display: flex;
  margin: 25px 0 15px 0;
  padding: 0 35px;
  gap: 10px;
  justify-items: flex-start;
}

.seleccionar-tramite .seleccionar-lugar {
  width: 250px;
}

.tarjetas-tramites {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  justify-items: center;
  align-content: space-around;
  padding: 10px 0;
  gap: 20px;
}

.tarjeta-tramite {
  width: 400px;
  height: 350px;
  border-radius: 10px !important;
  overflow: hidden;
}

.tarjetas-tramites .p-card-header {
  height: 148px;
}

.tarjetas-tramites .p-card-body {
  padding: 0 !important;
}

.tarjetas-tramites .p-card-title {
  background-color: var(--primary-uni);
  color: white;
  padding: 8px;
}

.tarjetas-tramites .p-card-content {
  padding: 5px 10px !important;
  font-size: 12px;
}

.tarjetas-tramites .p-card-header img {
  height: 100%;
  object-fit: fill;
}

ol span {
  font-weight: 600;
}

ol li {
  margin-left: 20px;
}

.contenedor-tramites .p-divider {
  width: 95%;
}

.contenedor-tramites .p-divider-dashed.p-divider-horizontal:before {
  border-top-style: dashed !important;
}

.contenedor-tramites .p-divider.p-divider-horizontal:before {
  border-top: 2px var(--primary-uni);
}

