.contenedor-opciones {
  max-height: 100vh;
  max-width: 100vw;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor-opciones .opcion {
  background-color: var(--primary-uni);
  border-radius: 10px;
  box-shadow: 0px 0px 9px 2px rgb(255 255 255 / 50%);
  text-decoration: none;
  color: white;
  font-weight: bold;
  height: 200px;
  width: 250px;
  overflow: hidden;
  transition: all 300ms ease;
}

.contenedor-opciones .opcion:hover {
  transform: scale(1.05, 1.05);
}

.contenedor-opciones .opcion .imagen {
  height: 150px;
}

.contenedor-opciones .opcion .imagen img {
  height: 150px;
  width: 100%;
}

.contenedor-opciones .opcion h3 {
  padding: 10px 0 0 10px;
  font-size: 14px;
  letter-spacing: 2px;
  height: 20%;
  display: flex;
  align-items: center;
}

/* ====== RESPONSIVE ====== */
@media screen and (600px < width <= 865px) {
  .contenedor-opciones {
    flex-wrap: wrap;
  }
  
  .contenedor-opciones .opcion {
    flex: 0 35%;
  }
}

@media screen and (width <= 600px) {
  .contenedor-opciones {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .contenedor-opciones .opcion {
    flex: 0 35%;
  }

  .contenedor-opciones .opcion {
    width: 200px;
    height: 160px;
  }

  .contenedor-opciones .opcion:nth-of-type(even) h3{
    letter-spacing: 0.5px;
  }

  .contenedor-opciones .opcion .imagen {
    height: 120px;
  }
  
  .contenedor-opciones .opcion .imagen img {
    height: 120px;
    width: 100%;
  }
}