.grid-inicio {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 46% 4% 50%);
}

.logo-inicio-sesion-container {
  display: none;
}

.tarjeta-inicio {
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divisor::before {
  box-shadow: 0 5px 10px rgba(255, 255, 255, 1);
}

.divisor .p-divider-content {
  background-color: transparent !important;
}

.divisor i {
  border: solid 2px var(--primary-uni);
  padding: 5px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
}

.tarjeta-divisor-inicio-sesion {
  background-color: var(--white);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 7px rgb(255, 255, 255, 0.3);
  font-size: 12.5px;
}

.tarjeta-divisor-inicio-sesion {
  margin-left: 50px;
  height: 350px;
  width: 250px;
  text-align: center;
  height: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.tarjeta-divisor-inicio-sesion h3 {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}

.tarjeta-divisor-inicio-sesion .form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tarjeta-divisor-inicio-sesion .field:nth-child(4) {
  text-align: start;
}

.tarjeta-divisor-inicio-sesion p {
  margin-top: 20px;
}

.contenedor-divisor {
  grid-column: 2;
}

.tarjeta-carrusel {
  grid-column: 3;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  margin: 0 40px;
}

.contenedor-carrusel {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 14px 2px rgb(255, 255, 255, 0.3);
}

.carrusel {
  width: 1200%;
  margin-left: 0px;
  transition: all 1000ms ease;
}

.carrusel-imagen {
  width: 700px;
  float: left;
  display: block;
  height: 500px;
}

.carrusel-imagen .imagen {
  width: 700px;
  height: 100%;
}

/* ====== RESPONSIVE ====== */
@media screen and (width <=550px) {
  .grid {
    display: flex;
    margin: 0 !important;
  }

  .logo-inicio-sesion-container {
    display: inline;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 7px rgb(255, 255, 255, 0.3);
  }

  .tarjeta-inicio {
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(2, auto auto);
  }

  .tarjeta-divisor-inicio-sesion {
    background-color: var(--white);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 7px rgb(255, 255, 255, 0.3);
    font-size: 12.5px;
  }

  .tarjeta-divisor-inicio-sesion {
    margin-left: 50px;
    height: 350px;
    width: 250px;
    text-align: center;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .contenedor-divisor {
    display: none;
  }

  .tarjeta-carrusel {
    display: none;
  }
}